
*.y
*.5
*.8
*.o
*.la
*.lo
*.orig

.deps
.dirstamp
.libs

openbsd

VERSION
aclocal.m4
autom4te.cache/
compile
config.guess*
config.log
config.status
config.sub*
configure*
depcomp
install-sh*
libtool
ltmain.sh
m4/l*.m4
missing
ylwrap
Makefile
Makefile.in
openbgpd-*
openbgpd*.tar.gz

#bgpd.conf

src/bgpctl/bgpctl
src/bgpd/bgpd
src/bgplgd/bgplgd
src/bgpctl/*.in
src/bgpd/*.in
src/bgplgd/*.in
